@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

/*font-family: 'Lato', sans-serif;  (letras de  bienvenida)
font-family: 'Roboto', sans-serif;
font-family: 'Nunito', sans-serif;*/
:root{
    --main-color: #F7E2E5;
    --black: #13131a;
    --bg: #E4A0A5;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
 }

 html::-webkit-scrollbar{
    width: .8rem;
 }

 html::-webkit-scrollbar-track{
    background: transparent;
 }

 html::-webkit-scrollbar-thumb{
    background: #A94048;
    border-radius: 5rem;
 }

 body{
    background: var(--bg);
 }

 .header{
    font-family: 'Roboto', sans-serif;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 5%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
 }

 .header .logo img{
    height: 6rem;
    left: 0%;
 }

 .header .ketzali{
   font-size: 1.6rem;
   display: inline-block;
   color: #A94048;
   text-decoration: none;
   padding: 10px 20px;
   margin-right: 10px;
}

 .header .navbar a{
    font-size: 1.6rem;
    display: inline-block;
    color: #A94048;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
 }

 .header .navbar a:hover{
    background-color: var(--main-color);
    transition: background-color 0.5s ease;
 }

/*ANIMACION*/
 .header .navbar a:focus {
	animation-name: aumentar;
	animation-duration: 2s;
  }
  
  @keyframes aumentar {
	0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

 .header .icons div{
    color: #A94048;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
 }

 .header .icons div:hover{
    color:var(--main-color);
 }

 #menu-btn{
    display: none;
 }

 .welcome{
   color: #fff;
   position:relative;
   bottom: 8%;
 }

 .welcome img{
   filter: brightness(60%);
 }

 .welcome [id="welcome-titulo"]{
   font-family: 'Lato', sans-serif;
   font-size: 80px;
   line-height: 100px;
   position: absolute;
   top: 35%;
   left: 38%;
   width: 90%;
   text-align: center;
   transform: translate(-50%, -50%);
 }

 /*ANIMACION*/
 .welcome [id="animado"]{
   font-family: 'Roboto', sans-serif;
   color: transparent;
   position: absolute;
   text-align: center;
   font-size: 80px;
   line-height: 100px;
   top: 35%;
   left: 76%;
   width: 90%;
   transform: translate(-50%, -50%);
   background: url(imagen/back.png);
   -webkit-text-stroke: 1px #fff;
   background-clip: text;
   -webkit-background-clip: text;
   background-position: 0 0;

   
   animation-name: recorrer;
   animation-duration: 20s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }

 @keyframes recorrer {
   100%{
      background-position: 2000px 0;
   }
 }

 .welcome p{
   font-family: 'Lato', sans-serif;
   font-size: 40px;
   font-weight: 600;
   position: absolute;
   top: 55%;
   left: 50%;
   width: 60%;
   text-align: center;
   transform: translate(-50%, -50%);
   z-index: 1;
 }


 /*Productos*/
 .contenedor-product{
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   margin-bottom: 20px;
   margin: 20px;
 }

 
 .contenedor-product>div{
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   background-color: #f17a7a;
   border-radius: 20px;
}
.contenedor-product>div:hover{
   background-color: #f79cad;
}

.informacion{
   height: 180px;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap:16px;
}
.informacion>p:first-child{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   font-weight: 300;
   text-align: center;
}
.informacion .precio {
   font-size: 20px;
   font-weight: 500;
}
.informacion .precio span{
   font-size: 17px;
   font-weight: 300;
}


.informacion .botonp button{
   background-color: #fd4a4a;
   width: 130px;
   height: 55px;
   border-radius: 10px;
   border: none;
   display:inline-block;
   margin-right: 10px;
   font-size: 16px;
   font-weight: 300;
   cursor: pointer;
}

.informacion button:hover{
   background-color: #f4afaf;
}

.itemp img{
   width: 100%;
   height: 300px;
   object-fit: cover;
   border-radius: 10px 10px 0 0;
   transition: all .5s;
}

/*Productos Preview*/
.products-preview{
   font-family: 'Nunito', sans-serif;
   position:fixed;
   top: 0; left: 0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0, 0, 0, 0.8);
   display:none;
   align-items: center;
   justify-content: center;
}
.products-preview .preview{
   display:none;
   padding: 1rem;
   text-align: center;
   background: #fff;
   position:absolute;
   top: 85px;
   margin: 2rem;
   width: 80rem;
   overflow-y: auto;
   height: 485px;
}
.products-preview .preview.active{
   display: inline-block;
}
.products-preview .preview img{
   height: 25rem;
   align-items: left;
}
.products-preview .fa-times{
   position: absolute;
   top: 1rem; right: 1.5rem;
   cursor: pointer;
   color: #444;
   font-size: 4rem;
}
.products-preview .fa-times:hover{
   transform: rotate(90deg);
}
.products-preview .preview h3{
   color: #444;
   padding: .5rem 0;
   font-size: 2.5rem;
}
.products-preview .preview .stars{
   padding: .5rem 0;
   font-size: 1.7rem;
}
.products-preview .preview .stars i{
   color: #ff0000
}
.products-preview .preview p{
   line-height: 1.5;
   padding: .5rem 0;
   font-size: 1.6rem;
   color: #777;
}
.products-preview .preview .precio-preview{
   padding: 0.5rem 0;
   font-size: 2rem;
   color: #ff0000
}
.contenedor-add-carr{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.products-preview .preview .boton-preview{
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}
.products-preview .preview .boton-preview a{
   flex: 1 1 15rem;
   padding: 1rem;
   font-size: 1.8rem;
   color: #444;
   border: .1rem solid #444;
}
.products-preview .preview .boton-preview a.buy:hover{
   background: #444;
   color:#fff;
}
.contenedor-quantity {
   display: flex;
   align-items: center;
 }
 .input-quantity {
   font-size: 15px;
  padding: 10px;
  border: 1px solid #e40527;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 }
 .input-quantity:focus{
   outline: none;
  border-color: #007bff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 123, 255, 0.6);
 }
 .btn-increment-decrement button {
   font-size: 16px;
   padding: 5px 10px;
   border-radius: 5px;
   border: none;
   background-color: #ff0000;
   color: #fff;
   cursor: pointer;
   margin-left: 10px;
 }
 .btn-increment-decrement button:hover {
   background-color: #fd4a4a;
 }
 

.formulario{
   border-radius: 5%;
   padding: 5px;
   width: 25%;
   height: 300px;
   margin: 0 auto;
   margin-left: 24.8%;
   margin-top: 220px;
   background: #4e4d4d;
}
.formTitle{
   color: white;
   font-size: large;
   text-align: center;
   padding-bottom: 10px;
   margin-bottom: 50px;
   border-bottom: 1px solid;
}
.control{
   color: white;
   width: 100%;
   border: 1px solid #F7E2E5;
   margin-bottom: 15px;
   padding: 11px 10px;
   background: #252323;
   font-size: 14px;
   font-weight: bold;
}
.boton{
   font-weight: bold;
   width: 100%;
   height: 40px;
   background: #f17a7aa8;
   border: none;
   color: white;
   margin-bottom: 16px;
}
.registro{
   border-left: 5px #e40527;
   border-radius: 5%;
   padding: 5px;
   width: 25%;
   height: 450px;
   margin-left: 50.5%;
   margin-top: -350px;
   background: #4e4d4d;
}


/*index*/
.us{
   position: relative;
   width: 100%;
   border:none;
   height: 850px;
   background-color: #E4D6D6;
   font-family: 'Nunito', sans-serif;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #A24E4E;
}
.us [id="ustitulo"]{
   font-size: 45px;
   text-align: center;
   margin: 10px;
   padding: 200px;
}
.us [id="usp"]{
   font-size: 20px;
   text-align: center;
   margin: 10px;
   padding: 90px;
}
.products{
   position: relative;
   width: 100%;
   border:none;
   height: 600px;
   background-color: #FFF7F7;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.products h3{
   font-family: 'Nunito', sans-serif;
   margin-bottom: 20px;
   font-size: 40px;
   text-align: center;
   padding: 40px;
   color: #A24E4E;
}
.products .pimg{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.products .pimg .pindeximg img{
   position: relative;
   width: 290px;
   height: 390px;
   object-fit: cover;
   margin: 5px;
   filter: brightness(60%);
}
.products .pimg .pindeximg .aproduct{
   position: absolute;
   display: flex;
   top: 55%;
   transform: translate(20%, 0%);
}
.products .pimg .pindeximg .aproduct a{
  font-size: 30px;
  color: #E4D6D6;
}

.genero{
   color: #fff;
   position:relative;
   bottom: 8%;
 }
 .genero img{
   filter: brightness(60%);
 }
 .genero h4{
   font-family: 'Lato', sans-serif;
   font-size: 80px;
   font-weight: 600;
   position: absolute;
   top: 38%;
   left: 50%;
   width: 60%;
   text-align: center;
   transform: translate(-50%, -50%);
   z-index: 1;
 }
 .genero p{
   font-family: 'Lato', sans-serif;
   font-size: 40px;
   font-weight: 600;
   position: absolute;
   top: 55%;
   left: 50%;
   width: 60%;
   text-align: center;
   transform: translate(-50%, -50%);
   z-index: 1;
 }
 footer {
   background-color: #A24E4E;
   padding: 20px;
   position:relative;
   bottom: 0;
   width: 100%;
 }
.comunicate{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap:50px;
   padding: 45px 0px;
}
.comunicate .comunicate-box h5 {
   text-align: center;
   font-family: 'Nunito', sans-serif;
   color: #fff;
   font-size: 24px;
   margin-bottom: 45px;
   margin-top: 100px;
 }
 .comunicate .comunicate-box p {
   text-align: center;
   font-family: 'Nunito', sans-serif;
   color: #fff;
   font-size: 16px;
   margin-bottom: 20px;
 }
 .comunicate form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;
 }
 .comunicate label {
   font-family: 'Nunito', sans-serif;
   color: #fff;
   display: block;
   font-size: 16px;
   margin-bottom: 10px;
 }
 .comunicate input[type="text"],
 .comunicate input[type="email"],
 .comunicate textarea {
   width: 80%;
   padding: 10px;
   border: 1px solid #ccc;
   margin-bottom: 20px;
 }
 .comunicate input[type="submit"] {
   background-color: #d97777;
   color: white;
   border: none;
   display:flexbox;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
 }
 .comunicate input[type="submit"]:hover {
   background-color: #711e2e;
 }

 .barraDeUsuario{
   margin-top: 93px;
   background: #e4a0a5;
   max-width: 25%;
   min-height: 86.5vh;
   padding: 0;
   float: left;
}

.barraDeUsuario a{
   color: #A94048;
   font-size: large;
}

.barraDeUsuario nav a {
   display: block;
   padding: 20px;
   font-family: Roboto, sans-serif;
   font-weight: 500;
   border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}

.barraDeUsuario nav a:hover {
   background-color: #F7E2E5;
   text-decoration: none;
}
.dataArea{
   padding: 5%;
   padding-top: none;
   background-color: #eecfe1;
   margin-top: 50px;
   width:87.5%;
   min-height: 86.5vh;
   float: left;
}
.dataArea p {
   font-size: large;
   color: #A94048;
   text-align:left;
   padding: 20px;
}
.dataArea h3 {
   font-size: large;
   color: #A94048;
   text-align:center;
   padding: 20px;
}
.pSection{
   border-bottom: 1px solid  rgba(255, 255, 255, 0.555);
}
.alerta{
   text-align: center;
   color: red;
}
.success{
   text-align: center;
   color: green;
}
.salir{
   font-weight: bold;
   width: 80%;
   height: 40px;
   background: #7c393996;
   border: none;
   color: rgb(85, 16, 45);
   margin-bottom: 16px;
   margin-top: 10px;
   text-align: center;
   font-size: large;
   margin-left: 45%;
}
.tabla{
   width: 100%;
   background-color: white;
   font-size: large;
}
td{
   padding: 10px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}
.cabecera{
   background-color: #640021;
   color: white;
   border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}

.quantity{
   width: 20px;
   height: 20px;
   margin-top: 15%;
   font-size: large;
   border-radius: 10%;

}
.minSection p{
   display: flex;
   flex-direction: column;
}
.btnAgregar{
   display: block;
   float: right;
}
.error-message {
   color: red;
   font-weight: bold;
}

.popup {
   height: 150px;
   width: 100%;
   background-color: #4e4d4d;
   color: #ffffff;
   padding: 20px;
   border: 1px solid #ffffffa8;
   border-radius: 5px;
   z-index: 9999;
   display: none;
}

.popup p {
   text-align: center;
   text-transform: uppercase;
   font-size: 200%;
   margin: 0;
}

.carrito {
   margin: 0 auto; /* Centra la tabla horizontalmente */
   width: 100%; /* Ancho de la tabla */
   border-collapse: collapse; /* Fusiona los bordes de las celdas */
 }

 .carrito th{
   font-size: 100%;
   padding: 10px; /* Espacio interno de las celdas */
   text-align: center; /* Alineación del contenido al centro */
   border: 1px solid #ddd; /* Borde de las celdas */
 }
.carrito td {
   font-size: 150%;
   padding: 10px; /* Espacio interno de las celdas */
   text-align: center; /* Alineación del contenido al centro */
   border: 1px solid #ddd; /* Borde de las celdas */
 }

 .carrito button{
   width: 20px;
   margin: 7px;
 }
 .boton{
   color: #A94048;
 }
 .boton:hover{
   background-color: #ffdfdfb7;
   transition: background-color 0.5s ease;
 }

 .fa-solid fa-trash-can{
   font-size: x-large;
   color:  #A94048;
 }
 
 .btnTrash:hover{
   background-color: #ffdfdfb7;
 }
 
 .h2Compra{
   transform:translate(45%,150px);
 }
 .infoCompra{
   transform:translate(220%,170px);
   text-align: center;
   border-radius: 35%;
   padding: 25px;
   font-size:large;
   width: 250px;
   background-color: #ffcece;
   color: #A94048;
 }
 .infoCompra p{
   color: #A94048;
 }
 .boton2{
   transform: translate(200%,190px);
   border-radius: 15%;
   font-weight: bold;
   width: 20%;
   height: 40px;
   background: #f17a7aa8;
   border: none;
   color: white;
   margin-bottom: 16px;
 }
 .boton2:hover{
   background-color: #ffdfdfb7;
   transition: background-color 0.5s ease;
 }